.messenger {
  display: flex;
  max-height: 50vh;
}

.chatMenu {
  flex: 2;
  margin-right: 10px;
}

.chatMenuInput {
  width: 90%;
  padding: 10px 0;
  border: none;
}

.chatBox {
  flex: 5;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90%;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.chatMenuWrapper,
.chatBoxWrapper {
  padding: 10px;
  height: 100%;
  background-color: grey;
}
