.messenger {
  display: flex;
  height: calc(100vh - 200px);
}

.chatInbox {
  flex: 2;
  margin-right: 30px;
}

.chatInboxInput {
  width: 90%;
  padding: 10px;
  border: 1px solid gray;
}

.chatConversation {
  flex: 5;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 80%;
  height: 90%;
  padding: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.chatConversationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.chatInboxWrapper,
.chatConversationWrapper {
  padding: 20px;
  height: 100%;
  background-color: white;
  border-radius: 20px;
}

.chatConversationInput {
  display: flex;
}

.messageContainer {
  display: flex;
  overflow: scroll;
}
