.messenger {
  display: flex;
  height: calc(100vh - 250px);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.chatInbox {
  flex: 2;
  margin-right: 30px;
  position: relative;
}

.chatConversation {
  flex: 7;
}

.chatConversationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.chatInboxWrapper,
.chatConversationWrapper {
  height: 100%;
  background-color: white;
  border-radius: 20px;
  overflow-y: auto;
}

.chatConversationInput {
  display: flex;
}

.messageContainer {
  display: flex;
  overflow: scroll;
}

.noConversationText {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
