@import "@fontsource/ubuntu";

.App {
  font-family: "ubuntu";
  background-color: #192b32;
  width: 100vw;
  height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
  overflow: auto;
}

.columns {
  display: grid;
  grid-template-columns: 2.3fr 1fr;
}

.rows {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.sticky-header:first-child {
  position: static !important;
}
